.Board {
  flex-direction: row;
  align-items: normal;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.category-header {
  padding: 5px 0;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #441fff;;

  background-color: #ffff00;
  /* border: 2px solid #ffffff; */
}

.Board-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Board-clue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;  

  min-height: 100px;
  min-width: 200px;
  height: calc(100vh / 5);
  width: calc(100vw / 6);
  
  color: #fff;

  font-size: 2rem;

  background-color: #441fff;
  border: 1px solid #aaa;
}

.Active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%; 
  width: 100vw;
  height: 100vh;

  font-size: 30px;
  padding: 10px;

  transform: translate(-50%, -50%);

  border: 3px solid #ffff00;
  /* border-radius: 10px; */
  background-color: #441fff;
  z-index: 100;

  overflow: auto;
}

.clue-choices-container {
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  border-radius: 10px;
}

#go-back,
#reveal-answer {
  padding: 10px;

  cursor: pointer;

  border-radius: 10px;
  border: 1px solid #000000;

  background-color: #ffff00;
  color: #0000ff;
}

.Active-qa-container,
.Active-revealed {
  display: block;
  text-align: center;
}

.Active-qa-container {
  color: white;
  padding: 15px 0 0 0;
}

.Active-revealed {
  font-size: 3.5rem;
  color: yellow;
}

.Active hr {
  margin: 20px 0;
  height: 3px;

  background-color: #ffff00;

  border: 2px solid #ffff00;
  border-radius: 10px;

}

.answered {
  color: gray;
}