.category-header {
  padding: 5px 0;
  font-size: 20px;
  text-align: center;
  color: #fff;

  background-color: rgb(68, 31, 255);
  border: 2px solid rgb(73, 58, 58);
}

.Board-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Board-clue {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;  

  min-height: 100px;
  min-width: 200px;
  height: calc(100vh / 5);
  width: calc(100vw / 6);
  
  color: #fff;

  background-color: rgb(68, 31, 255);
  border: 2px solid rgb(73, 58, 58);
}