.Home {
  flex-direction: column;
  align-items: center;
}

.playing{
  flex-direction: row;
  align-items: normal;
}

.Home,
.playing {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
}

.Play-btn {
  display: block;
  margin: 0 auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  
  background-color: #4545f3;
  /* box-shadow: 5px 5px 10px #000; */
  transition: transform 100ms;
  border: solid 1px rgb(0, 0, 0);

  width: 150px;
  height: 50px;
}

/* .Play-btn:hover {
  background-color: #687bf8;
  transform: scale(.95);
} */

.main-title {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}